@model GetUrls
@{
    ViewData["Title"] = "GetPage";
}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="C:\Users\jacob\source\repos\jacashin\WebCrawler_1\WebCrawler_1\Views\AlertFile.js"></script>
<h1>Get Ebay Page</h1>
<div class="row">
    <div class="col-md-2">
        <form asp-action="GetUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewSearch" class="control-label"></label>
                <input asp-for="NewSearch" class="form-control" />
                <span asp-validation-for="NewSearch" class="text-danger"></span>
                <div class="form-group">
                    <input type="submit" value="Get Url" class="btn btn-primary" />
                </div>
                <a asp-action="FindItemOnChart"><button type="button" class="btn btn-primary">See Chart</button></a>
            </div>
        </form>
    </div>
</div>

