@model GetUrl

    <h3>

        Name of Product: @Model.ItemName
        <div></div>
        Price of Product: @Model.ItemPrice
        <div></div>
        Search Time: @Model.Date
        <div></div>
        Item Search Term: @Model.NewSearch

    </h3>

<form asp-action="SaveInfo" method="get">
    <div class="form-group">
        <input type="submit" value="Save Info" class="btn btn-primary" />
    </div>
</form>
    