@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="text-center">
        <h3 class="display-4">Welcome</h3>
        <form asp-action="GetPage">
            <div class="form-group">
                <input type="submit" value="GetPage" class="btn btn-primary" />
            </div>
        </form>
        </div>
    <div class="text-center">
        <h3 class="display-4">Download File</h3>
        <form asp-action="CreateFile">
             
            <div class="form-group">
               
                <input type="submit" value="Create File" class="btn btn-dark" />
            </div>
        </form>
        </div>
</div>
